{% include "app/html/themes/2/layouts/includes/_header.html" %}

    {% include "app/html/themes/2/layouts/nav/_navbar.html" %}
    {% include "app/html/themes/2/layouts/sidebar/_profile_public.html" %}
    {% include "app/html/common/components/chat.html" %}

    <div id="content">
        {% include "app/html/themes/2/layouts/nav/_subnav_public.html" %}
        <div class="container-fluid">
            {% include "app/html/common/components/cover/cover.html" { menu: false } %}
            {% block content %}{% endblock %}
        </div>
        {% include "app/html/themes/2/layouts/includes/_footer.html" %}
    </div>

    <!-- Vendor Scripts Bundle -->
    <script src="js/vendor.min.js"></script>

    <!-- App Scripts Bundle -->
    <script src="js/scripts.min.js"></script>

</body>
</html>