#filter {
  margin-bottom:$grid-gutter-width/2;
  form {
    label { color:#888;}

    .selectpicker {
      font-weight: 400;
    }
    .btn {
      margin-left:10px;

    }
    select.btn-primary {
      padding:5px 3px;
    }
  }
  padding-bottom: $grid-gutter-width / 2;
  border-bottom:2px solid $panel-default-border;

  #users-filter-trigger {
    display: inline-block;
    .search-name {
      margin-left:10px;
      input {background: #fff;}
    }
  }
}
