
//** `<input>` background color
$input-bg:                       lighten(#efefef,3%);
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter;

//** Text color for `<input>`s
$input-color:                    #333333;

//** `<input>` border color
$input-border:                   #efefef;
$input-group-addon-border-color: #efefef;

//** `<input>` border radius
$input-border-radius:            0;
//** Border color for inputs on focus
$input-border-focus:             #dfdfdf;

$input-color-placeholder:        #ccc;