html {
  -webkit-font-smoothing: antialiased;
}
body {
  padding-top: $navbar-height;
  position:relative;
}

.border-bottom {
  border-bottom:1px solid #efefef;
}

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
}
.container-fluid > {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
}
