.navbar-nav li.alert {
  padding: 0;
  margin: 5px;
  a {
    padding:3px;
    background: $primary-color;
    text-align: center;
    color:#fff;
    font-size: 14px;
    border-radius: 5px;
    line-height: 16px;
    padding:5px 10px;
    border:1px solid $primary-color;
    strong { display: block;}
    &:hover {
      background: #fff;
      color: $primary-color;

    }
  }
}