// Brand Styling (LOGO)
#brand {
  position: fixed;
  top:0;
  left:0;
  width:  $sidebar-brand-width;
  height: $sidebar-brand-height;
  line-height: $sidebar-brand-height;
  color: $sidebar-brand-color;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: $sidebar-brand-background;
  &:hover { text-decoration: none; color:$sidebar-brand-color-hover;}
}
